NET "echo" 	LOC = U9 | IOSTANDARD = "LVCMOS33";
NET "trigger" 	LOC = U8 | IOSTANDARD = "LVCMOS33";
NET "reset" 	LOC = R7 | IOSTANDARD = "LVCMOS33";
NET "clk" 	LOC = E16 | IOSTANDARD = "LVCMOS33";
NET "done" 	LOC = V9 | IOSTANDARD = "LVCMOS33";
NET "distance" 	LOC = R8 | IOSTANDARD = "LVCMOS33";
