NET "echo" 		LOC = F14 | IOSTANDARD = "LVCMOS33";
NET "trigger" 	LOC = D17 | IOSTANDARD = "LVCMOS33";
NET "reset" 	LOC = E16 | IOSTANDARD = "LVCMOS33";
NET "clk" 		LOC = E3 | IOSTANDARD = "LVCMOS33";
NET "done" 		LOC = T8 | IOSTANDARD = "LVCMOS33";
NET "distance" 	LOC = D17 | IOSTANDARD = "LVCMOS33";
