NET "CLK" LOC = "E3"			| IOSTANDARD = "LVCMOS33";

NET "D_OUT<0>" LOC = "P2"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<1>" LOC = "R2"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<2>" LOC = "U1"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<3>" LOC = "P5"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<4>" LOC = "R1"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<5>" LOC = "V1"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<6>" LOC = "U3"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<7>" LOC = "V4"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<8>" LOC = "U6"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<9>" LOC = "U7"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<10>" LOC = "T4"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<11>" LOC = "T5"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<12>" LOC = "T6"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<13>" LOC = "R8"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<14>" LOC = "V9"		| IOSTANDARD = "LVCMOS33";
NET "D_OUT<15>" LOC = "T8"		| IOSTANDARD = "LVCMOS33";


NET "RESET" LOC = "G18"			| IOSTANDARD = "LVCMOS33";
NET "ENABLE" LOC = "H18"		| IOSTANDARD = "LVCMOS33";
NET "D_IN" LOC = "T16"			| IOSTANDARD = "LVCMOS33";
NET "BCLK" LOC = "B13"			| IOSTANDARD = "LVCMOS33";
NET "WS" LOC = "F14"			| IOSTANDARD = "LVCMOS33";
NET "DONE" LOC = "D17"			| IOSTANDARD = "LVCMOS33";

