## 
# Chip: XC7A100T-CSG324 
# Company: Universidad Nacional de Colombia
# Date: Oct 8, 2017
##

## CLOCK SIGNAL
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 
NET led   LOC = "T8"	| IOSTANDARD = LVCMOS33;

#OUTPUT CHANNELS
NET "channel1_p" LOC = B16 | IOSTANDARD = LVDS_25; 
NET "channel1_n" LOC = B17 | IOSTANDARD = LVDS_25;
NET "channel2_p" LOC = A15 | IOSTANDARD = LVDS_25;
NET "channel2_n" LOC = A16 | IOSTANDARD = LVDS_25;
NET "channel3_p" LOC = A13 | IOSTANDARD = LVDS_25;
NET "channel3_n" LOC = A14 | IOSTANDARD = LVDS_25;

#CLOCK
NET "clock_p" LOC = B18 | IOSTANDARD = LVDS_25;
NET "clock_n" LOC = A18 | IOSTANDARD = LVDS_25;
