
#CLOCK_SIGNAL

NET "CLK" LOC = P17 | IOSTANDARD = LVCMOS33 | PERIOD = 100 MHz;

#LED

NET LED   LOC = "P12";

#OUTPUT_CHANNELS

NET "Channel0_P" LOC = P51 | IOSTANDARD = LVDS_33; 
NET "Channel0_N" LOC = P50 | IOSTANDARD = LVDS_33;
NET "Channel1_P" LOC = P56 | IOSTANDARD = LVDS_33;
NET "Channel1_N" LOC = P55 | IOSTANDARD = LVDS_33;
NET "Channel2_P" LOC = P58 | IOSTANDARD = LVDS_33;
NET "Channel2_N" LOC = P57 | IOSTANDARD = LVDS_33;

#OUTPUT_CLOCK_CHANNEL

NET "CLK_P" LOC = P62 | IOSTANDARD = LVDS_33;
NET "CLK_N" LOC = P61 | IOSTANDARD = LVDS_33;

#NET "clkprueba" LOC = P101;
#NET "HS" LOC = P102;
#NET "VS" LOC = P104;
#NET "DE" LOC = P105;

#PIN "clkprueba_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
